@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

/* DEFAULT */

body {
	font-family: "Ubuntu", serif;
}
#page { background: #f4f4f4; }

/* CORE */

#header { background: #444; }
#header h1 {
	padding: 10px 10px;
	color: #fff;
	font-family: "Raleway", Georgia, serif;
	font-size: 2em;
}

#menu {
	text-align: center;
	background: #ab4e52;
}
#menu a {
	display: inline-block;
	margin: 0 10px;
	padding: 8px 10px;
	color: #fff;
}
#menu a:hover {
	background: rgba(255, 255, 255, 0.1);
}

#middle { max-width: 800px }

#content {
	padding: 0 10px;
	background: #fff;
	//background: #fff url("../img/style/ppc_logo.png") no-repeat bottom right;
}
#content h2 {
	margin: 0;
	padding: 10px 0;
	font-size: 2em;
}
#content h3 {
	margin: 0;
}
#content h4 {
	margin: 0;
}

#content a {
	color: #ab4e52;
}

#content p { margin: 0; padding: 0 0 10px 0; text-align: justify; }
#content ul { margin: 10px 0; }

#footer {
	padding: 10px 0;
	color: #ddd;
	border-top: 4px solid #ab4e52;
	background: #444;
}

/* ELEMENTS */

blockquote {
	margin: 0;
	padding: 2em;
	color: #666;
}

.portfolio-img {
	height: 104px;
	padding: 2px;
	border: 1px solid #aaa;
}

/* MOBILE */

@media (max-width: 800px) {
	#header { border: none; }
}

@media (max-width: 640px) {
	#header h1 { font-size: 1.2em; }
	#menu a { font-size: 1em; padding: 8px 4px; }
	#content h2 { font-size: 1.8em; }
	#content h3 { margin: 10px -10px; padding: 0 6px; background: #eee; }
}

@media (max-width: 400px) {
	#header h1 { font-size: 1em; }
	#menu a { font-size: 0.8em; padding: 6px 4px; }
	#content h2 { font-size: 1.6em; }
}